@page
@model Revue.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Revenue - Login to your account</h1>

<div class="text-center">
    <label>Email:</label>
    <label>Password:</label>
</div>
